In [1]:
import os
import pandas as pd
import regex as re
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")

In [2]:
path_o = str(os.getcwd()).split("\\")
path_o = "\\".join(path_o[:-1])

In [3]:
os.chdir(path_o+"\\data\\raw")
df_raw = pd.read_csv("data_clean_movies_info.csv", index_col=0)
df_raw.head()

,id,adult,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count,video,title,belongs_to_collection,overview,homepage,imdb_id,poster_path,crew,cast,keywords
1013,11589,False,4000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",en,Kelly's Heroes,13.786,"[{'id': 3057, 'logo_path': None, 'name': 'Katz...","[{'iso_3166_1': 'US', 'name': 'United States o...",1970-01-01,5200000,144.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They set out to rob a bank... and damn near wo...,7.4,527,False,Kelly's Heroes,NaN,A misfit group of World War II American soldie...,NaN,tt0065938,/hleMxFKSC42yT0TClS4G29HV11n.jpg,"[{'adult': False, 'gender': 2, 'id': 7754, 'kn...","[{'adult': False, 'gender': 2, 'id': 190, 'kno...","[{'id': 1321, 'name': 'gold'}, {'id': 1956, 'n..."
1231,11202,False,12000000,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",en,Patton,13.992,"[{'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVR...","[{'iso_3166_1': 'US', 'name': 'United States o...",1970-01-25,89800000,172.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Rebel Warrior,7.5,810,False,Patton,"{'id': 609766, 'name': 'Patton Collection', 'p...","""Patton"" tells the tale of General George S. P...",NaN,tt0066206,/rLM7jIEPTjj4CF7F1IrzzNjLUCu.jpg,"[{'adult': False, 'gender': 2, 'id': 1776, 'kn...","[{'adult': False, 'gender': 2, 'id': 862, 'kno...","[{'id': 1402, 'name': 'general'}, {'id': 1956,..."
1240,11165,False,25485000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",en,Tora! Tora! Tora!,12.843,"[{'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVR...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",1970-01-26,37150000,144.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The incredible attack on Pearl Harbor.,7.1,392,False,Tora! Tora! Tora!,NaN,"In the summer of 1941, the United States and J...",NaN,tt0066473,/c311sN931DixuZRer0JGYCwpx9N.jpg,"[{'adult': False, 'gender': 2, 'id': 1531, 'kn...","[{'adult': False, 'gender': 2, 'id': 1936, 'kn...","[{'id': 233, 'name': 'japan'}, {'id': 1668, 'n..."
1399,42345,False,11000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",en,The Molly Maguires,7.413,"[{'id': 64771, 'logo_path': None, 'name': 'Tam...","[{'iso_3166_1': 'US', 'name': 'United States o...",1970-02-08,2200000,120.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,6.4,59,False,The Molly Maguires,NaN,"Schuylkill County, Pennsylvania, 1876. A secre...",NaN,tt0066090,/oC5HRUjTwooMCIYSPS5biOeWoGK.jpg,"[{'adult': False, 'gender': 2, 'id': 1938, 'kn...","[{'adult': False, 'gender': 2, 'id': 738, 'kno...","[{'id': 818, 'name': 'based on novel or book'}..."
1408,2998,False,7000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,Zabriskie Point,7.859,"[{'id': 21, 'logo_path': '/aOWKh4gkNrfFZ3Ep7n0...","[{'iso_3166_1': 'US', 'name': 'United States o...",1970-02-09,1000000,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,How you get there depends on where you're at.,7.1,298,False,Zabriskie Point,NaN,"An epic portrait of late Sixties America, as s...",NaN,tt0066601,/3iLs534dFCln579aawQW0YWD30s.jpg,"[{'adult': False, 'gender': 2, 'id': 2875, 'kn...","[{'adult': False, 'gender': 2, 'id': 29896, 'k...","[{'id': 387, 'name': 'california'}, {'id': 460..."

In [4]:
df_raw.describe()

,id,budget,popularity,revenue,runtime,vote_average,vote_count
count,5343.000000,5.343000e+03,5343.000000,5.343000e+03,5343.000000,5343.00000,5343.000000
mean,66888.598914,2.867816e+07,27.043727,8.003485e+07,109.029946,6.35233,1635.612390
std,128099.752763,3.777264e+07,131.055586,1.564739e+08,20.807002,0.98104,2876.749321
min,5.000000,1.000000e+04,0.600000,6.000000e+00,41.000000,0.00000,0.000000
25%,8870.500000,5.101500e+06,9.588000,6.000000e+06,95.000000,5.90000,171.000000
50%,12663.000000,1.500000e+07,14.359000,2.534500e+07,105.000000,6.40000,596.000000
75%,45573.500000,3.500000e+07,24.297000,8.322320e+07,119.000000,7.00000,1712.500000
max,938477.000000,3.800000e+08,6587.056000,2.797801e+09,339.000000,10.00000,31297.000000

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5343 entries, 1013 to 345556
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     5343 non-null   int64
 1   adult                  5343 non-null   bool
 2   budget                 5343 non-null   int64
 3   genres                 5343 non-null   object
 4   original_language      5343 non-null   object
 5   original_title         5343 non-null   object
 6   popularity             5343 non-null   float64
 7   production_companies   5343 non-null   object
 8   production_countries   5343 non-null   object
 9   release_date           5343 non-null   object
 10  revenue                5343 non-null   int64
 11  runtime                5343 non-null   float64
 12  spoken_languages       5343 non-null   object
 13  status                 5343 non-null   object
 14  tagline                4614 non-null   object
 15  vote_average           5343 non-null   float64
 16  vote_count             5343 non-null   int64
 17  video                  5343 non-null   bool
 18  title                  5343 non-null   object
 19  belongs_to_collection  1311 non-null   object
 20  overview               5341 non-null   object
 21  homepage               1661 non-null   object
 22  imdb_id                5330 non-null   object
 23  poster_path            5328 non-null   object
 24  crew                   5343 non-null   object
 25  cast                   5343 non-null   object
 26  keywords               5343 non-null   object
dtypes: bool(2), float64(3), int64(4), object(18)
memory usage: 1.1+ MB

In [6]:
df_raw.columns

Index(['id', 'adult', 'budget', 'genres', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count',
       'video', 'title', 'belongs_to_collection', 'overview', 'homepage',
       'imdb_id', 'poster_path', 'crew', 'cast', 'keywords'],
      dtype='object')

In [9]:
os.chdir(path_o+"\\utils")

In [11]:

from funciones_clean_2_informacion import clean_data_2
df_raw_c = clean_data_2(df_raw)
df_raw_c.head()

c:\Users\jamf1\OneDrive\Documents\BOOTCAMP\Bootcamp_DS\Alumno\ML_Project\src\data\raw

,budget,genres,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,crew,cast,keywords,title,year,month,day,market_share_genres,genres_all,production_companies_all,production_countries_all,spoken_languages_all,keywords_all,cast_all,people_vaccinated,people_fully_vaccinated,total_boosters,New_cases,New_deaths
0,7.405126e+07,Action,11.773,Ross Hunter Productions,United States of America,1970-05-29,7.441348e+08,137.0,Italian,George Seaton,Burt Lancaster,bomb,Airport,1970,5,29,0.141761,"[Action, Drama, Thriller]",[Ross Hunter Productions],[United States of America],"[Italian, English]","[bomb, based on novel or book, airport, snowst...","[Burt Lancaster, Dean Martin, Jean Seberg, Jac...",0.0,0.0,0.0,0.0,0.0
1,2.962050e+07,Adventure,13.786,Katzka-Loeb,United States of America,1970-01-01,3.850665e+07,144.0,English,Brian G. Hutton,Clint Eastwood,gold,Kelly's Heroes,1970,1,1,0.080776,"[Adventure, Comedy, War]","[Katzka-Loeb, Avala Film, Metro-Goldwyn-Mayer]",[United States of America],"[English, French, German]","[gold, world war ii, armor, campaign, us army,...","[Clint Eastwood, Telly Savalas, Don Rickles, D...",0.0,0.0,0.0,0.0,0.0
2,2.221538e+07,Adventure,25.768,APJAC Productions,United States of America,1970-04-23,1.406953e+08,95.0,English,Ted Post,James Franciscus,mutant,Beneath the Planet of the Apes,1970,4,23,0.080776,"[Adventure, Science Fiction, Mystery]","[APJAC Productions, 20th Century Fox]",[United States of America],[English],"[mutant, dystopia, astronaut, ape, worship]","[James Franciscus, Kim Hunter, Maurice Evans, ...",0.0,0.0,0.0,0.0,0.0
3,7.405126e+07,Adventure,7.547,Sir Nigel Films,United Kingdom,1970-10-29,1.110769e+07,125.0,German,Billy Wilder,Robert Stephens,loch ness monster,The Private Life of Sherlock Holmes,1970,10,29,0.080776,"[Adventure, Comedy, Crime, Mystery, Romance, T...","[Sir Nigel Films, United Artists, The Mirisch ...",[United Kingdom],"[German, French, Russian, English]","[loch ness monster, german spy, midgets]","[Robert Stephens, Colin Blakely, Geneviève Pag...",0.0,0.0,0.0,0.0,0.0
4,1.110769e+08,Adventure,8.597,Cinema Center Films,United States of America,1970-12-14,2.337024e+08,139.0,English,Arthur Penn,Dustin Hoffman,based on novel or book,Little Big Man,1970,12,14,0.080776,"[Adventure, Western, Comedy, Drama]","[Cinema Center Films, Stockbridge-Hiller Produ...",[United States of America],[English],"[based on novel or book, indian territory, fig...","[Dustin Hoffman, Faye Dunaway, Chief Dan Georg...",0.0,0.0,0.0,0.0,0.0

In [12]:
df_raw_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5340 entries, 0 to 5339
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   budget                    5340 non-null   float64
 1   genres                    5340 non-null   object
 2   popularity                5340 non-null   float64
 3   production_companies      5340 non-null   object
 4   production_countries      5340 non-null   object
 5   release_date              5340 non-null   datetime64[ns]
 6   revenue                   5340 non-null   float64
 7   runtime                   5340 non-null   float64
 8   spoken_languages          5340 non-null   object
 9   crew                      5340 non-null   object
 10  cast                      5340 non-null   object
 11  keywords                  5340 non-null   object
 12  title                     5340 non-null   object
 13  year                      5340 non-null   int32
 14  month                     5340 non-null   int32
 15  day                       5340 non-null   int32
 16  market_share_genres       5340 non-null   float64
 17  genres_all                5340 non-null   object
 18  production_companies_all  5340 non-null   object
 19  production_countries_all  5340 non-null   object
 20  spoken_languages_all      5340 non-null   object
 21  keywords_all              5340 non-null   object
 22  cast_all                  5340 non-null   object
 23  people_vaccinated         5340 non-null   float64
 24  people_fully_vaccinated   5340 non-null   float64
 25  total_boosters            5340 non-null   float64
 26  New_cases                 5340 non-null   float64
 27  New_deaths                5340 non-null   float64
dtypes: datetime64[ns](1), float64(10), int32(3), object(14)
memory usage: 1.1+ MB

In [13]:
os.chdir(path_o+"\\data\\raw")
df_raw_c.to_csv("data_clean_2_EDA.csv")